<a href="https://colab.research.google.com/github/damar315/ETLfromScratch-Python-Scraping/blob/main/HW_ETL_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO)

In [3]:
url = 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes'

In [4]:
def scrape(url):
  logging.info(f"Scraping website with url: '{url}' ...")
  return pd.read_html(url, header=None)

In [5]:
dfs = scrape(url)[2]

INFO:root:Scraping website with url: 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes' ...

In [6]:
dfs

   No.                      Nama  ...       Kebangsaan     Sumber kekayaan
0  NaN                Jeff Bezos  ...  Amerika Serikat              Amazon
1  NaN                Bill Gates  ...  Amerika Serikat           Microsoft
2  NaN  Bernard Arnault & family  ...          Prancis                LVMH
3  NaN            Warren Buffett  ...  Amerika Serikat  Berkshire Hathaway
4  NaN             Larry Ellison  ...  Amerika Serikat  Oracle Corporation
5  NaN            Amancio Ortega  ...          Spanyol       Inditex, Zara
6  NaN           Mark Zuckerberg  ...  Amerika Serikat      Facebook, Inc.
7  NaN                Jim Walton  ...  Amerika Serikat             Walmart
8  NaN              Alice Walton  ...  Amerika Serikat             Walmart
9  NaN          S. Robson Walton  ...  Amerika Serikat             Walmart

[10 rows x 6 columns]

In [7]:
import re

In [8]:
def is_money_miliar(string_money):
    return string_money.lower().endswith("miliar")

In [11]:
def transform_money_format(string_money):
    half_clean_string = string_money.lower().replace(",", ".").replace("$"," ").replace(" ", "")
    return re.sub(r"[?\[M\]miliar|\[J\]juta]", "", half_clean_string)

In [18]:
def transform(df, tahun):
    logging.info("Transforming DataFrame ...")

    columns_mapping = {
        "No.": "no_urut",
        "Nama": "nama",
        "Kekayaan bersih (USD)": "kekayaan_bersih_usd",
        "Usia": "usia",
        "Kebangsaan" : "kebangsaan",
        "Sumber kekayaan": "perusahaan"
    }

    # mengganti nama2 column sebelumnya sesuai kebutuhan
    renamed_df = df.rename(columns=columns_mapping)

    # menambahkan column tahun dan memberinya value yang berasal dari parameter tahun
    renamed_df["tahun"] = tahun
    
    # Memberi nilai pada kekayaan_bersih_usd_juta dgn percabangan if else
    # Jika terdeteksi string miliar (is_money_miliar), maka dikali 1000 dan string miliar atau juta dihilangkan
    # Jika tidak, maka hanya menghilangkan string juta saja
    renamed_df["kekayaan_bersih_usd_juta"] = renamed_df["kekayaan_bersih_usd"].apply(
        lambda value: float(transform_money_format(value)) * 1000 if is_money_miliar(value) else float(transform_money_format(value))
    )

    return renamed_df[["nama", "no_urut", "kekayaan_bersih_usd_juta", "perusahaan","tahun"]]

In [19]:
df_2021 = transform(dfs, 2021)

INFO:root:Transforming DataFrame ...

In [20]:
df_2021

                       nama  no_urut  ...          perusahaan tahun
0                Jeff Bezos      NaN  ...              Amazon  2021
1                Bill Gates      NaN  ...           Microsoft  2021
2  Bernard Arnault & family      NaN  ...                LVMH  2021
3            Warren Buffett      NaN  ...  Berkshire Hathaway  2021
4             Larry Ellison      NaN  ...  Oracle Corporation  2021
5            Amancio Ortega      NaN  ...       Inditex, Zara  2021
6           Mark Zuckerberg      NaN  ...      Facebook, Inc.  2021
7                Jim Walton      NaN  ...             Walmart  2021
8              Alice Walton      NaN  ...             Walmart  2021
9          S. Robson Walton      NaN  ...             Walmart  2021

[10 rows x 5 columns]

In [21]:
pip install psycopg2-binary==2.8.6

Collecting psycopg2-binary==2.8.6
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 9.2 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [22]:
from sqlalchemy import create_engine

In [23]:
DB_NAME = "postgres"
DB_USER = "user1"
DB_PASSWORD = "user1"
DB_HOST = "104.197.148.144"
DB_PORT = "5432"
CONNECTION_STRING = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
TABLE_NAME = "damar_orang_terkaya_forbes"

In [24]:
CONNECTION_STRING

'postgresql://user1:user1@104.197.148.144:5432/postgres'

In [25]:
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [27]:
write_to_postgres(df=df_2021, db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Writing dataframe to database: 'postgres', table: 'damar_orang_terkaya_forbes' ...